body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #007bff, #00c6ff);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 650px;
    background: white;
    margin: 40px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px #0005;
    animation: aparecer 1s ease;
}

h1, h2 {
    text-align: center;
    color: #003b80;
}

.form-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #888;
}

button {
    margin-top: 10px;
    padding: 12px;
    background: #003b80;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #005fcc;
    transform: scale(1.05);
}

.resultado, .historial {
    margin-top: 20px;
    padding: 15px;
    background: #e8f3ff;
    border-radius: 10px;
    font-size: 18px;
    animation: fade 0.8s ease;
}

.historial div {
    background: white;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    border-left: 4px solid #007bff;
}

@keyframes aparecer {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}
